<div>
  <h4> Hello Admins, </h4>
  <h4> Below is the list of companies which are not present in the database: </h4>
    <table>  
      #foreach($report in $reports)
        <tr>
  	  <td> $report </td>
  	</tr>
      #end  
    </table>  
</div>