<div>
  <h4> Hello Admins, </h4>
  <h4> Unable to load tickets for following companies because these companies are not added to our database : </h4>
    <table>  
      #foreach($report in $reports)
        <tr>
  	  <td> $report </td>
  	</tr>
      #end  
    </table>  
</div>
